catalog {
	background-color: LightGray;
	font-family: verdana, sans-serif;
}

book, title, author, publisher, pages {
	display: block;
}

title {
	color: red;
	font-weight: bold;
}

book:nth-child(odd){
	background-color: lightblue;
}

